@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-components.css";
@import "components/badge.css";

/*Screens*/
@import "screens/login.css";
@import "screens/friends.css";

body {
  color: #2e363e;
  font-family: "Open Sans", sans-serif;
  height: 1000vh;
  width: var(--wid);
}

.main-screen {
  padding: 0 var(--horizontal-space);
  position: relative;
  margin-top: 110px;
}

.chats-time {
  font-size: 13px;
}
