#friends-display-link {
  text-align: center;
  display: block;
  /* display: flex;
  justify-content: center; */
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: 100px;
  padding: 15px;
  background-color: #fafafa;
  z-index: -1;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}
.friends-screen {
  padding: 0px var(--horizontal-space);
  position: relative;
  margin-top: 110px;
}
.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 15px 0px;
  padding: 15px 0px;
  color: var(--gray-text);
  font-weight: 600;
  border-top: 3px solid var(--gray-nav);
}
