.settings-setting {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.settings-setting:nth-child(3) {
  border: none;
}
.settings-setting__column:first-child {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-weight: 600;
}
.settings-setting__column:first-child i {
  margin-right: 20px;
}
.settings-setting__column:first-child span {
  margin-right: 8px;
}
.settings-setting__column:last-child {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-text);
}
.setting-border {
  position: relative;
  right: var(--horizontal-space);
  width: var(--wid);
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
