.nav {
  position: fixed;
  bottom: 0;
  padding: 20px 50px;
  width: var(--wid);
  box-sizing: border-box;
  border-top: 1.5px solid rgba(0, 0, 0, 0.1);
  background-color: var(--gray-nav);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2f363e;
}
.nav__btn {
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 13px;
  bottom: 8px;
}
.nav__ellipsis-notification {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  left: 21px;
  bottom: 16px;
}
