.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px var(--horizontal-space) 0px var(--horizontal-space);
  position: fixed;
  width: var(--wid);
  box-sizing: border-box;
  background-color: white;
  z-index: 1;
}
.screen-header__title {
  font-size: 30px;
  font-weight: bold;
}
.screen-header__icons span {
  margin: 0px 10px;
}

.screen-header__icons .fa-cog {
  transition: all 3s ease-in-out;
}
.screen-header__icons .fa-cog:hover {
  transform: rotateZ(1000deg);
}
