.user-component {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
.user-component__column {
  height: 100%;
}
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: var(--gray-text);
}
.user-component__column:last-child span {
  font-weight: 700;
  position: relative;
  right: 3px;
  margin: 4px 0;
}
.user-component__column:last-child i {
  margin-left: 5px;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 35px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 26px;
}

.user-component__title {
  font-weight: 600;
  font-size: 20px;
}
.user-component__subtitle {
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: 600;
}
